:root {
	--color-red: #ff7a7a;
	--color-green: #38cb8b;
	--color-blue: #5f54a4;
	--color-white: #ffffff;
	--dark-blue: #3d3b48;
	--grayish-blue: #b8b5d3;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
}
.component {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../images/bg-intro-desktop.png);
	background-color: var(--color-red);
	background-position: center;
	background-size: cover;
}
.container {
	max-width: 120rem;
	margin: 0 auto;
	display: flex;
	height: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	color: var(--color-white);
	width: 50%;
	height: 100%;
}

.content__heading {
	font-size: 4rem;
	margin-bottom: 2rem;
}

.content__paragraph {
	font-size: 1.6rem;
}

.content__banner {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	margin: 0 7rem;
	background-color: var(--color-blue);
	border-radius: 1rem;
	box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
}

.content__form {
	margin: 3rem 7rem;
	height: 60vh;
	width: 100%;
	background-color: #fff;
	border-radius: 1rem;
}
