.navbar {
	position: relative;
	height: 15rem;
	width: 100%;
	background: url(../assets/bg-header-desktop.svg), #5ba4a4;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-section {
	position: relative;
	width: 100%;
	min-height: 85vh;
	background-color: #effafa;
}

.joblist {
	&__preview {
		display: grid;
		justify-items: center;
		grid-row-gap: 2rem;
		width: 100%;
		padding: 7.5rem 0;
	}

	&__item {
		width: 85%;
		height: 15rem;
		border-radius: 4px;
		background-color: #fff;
		padding: 2rem 4rem;
		transition: all 0.3s;
		box-shadow: 0px 1rem 2rem 0px rgba(0, 0, 0, 0.1);

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&:nth-child(1),
		&:nth-child(2) {
			border-left: 4px solid #5ba4a4;
		}

		&--profile {
			display: flex;
		}

		&--logo {
			position: relative;
			width: 13rem;
			height: 100%;
			margin-right: 2rem;

			display: flex;
			justify-content: center;
			align-items: center;

			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
		}

		&--content {
			position: relative;
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-rows: repeat(3, 1fr);
			align-content: center;

			.new,
			.featured {
				display: inline-block;
				border: none;
				padding: 7.5px 1rem;
				border: 1px solid;
				border-radius: 2rem;
				font-size: 1rem;
				font-weight: 700;
				margin-left: 1.5rem;
				text-transform: uppercase;
				color: #fff;
				line-height: 1;
			}
			.new {
				background-color: #5ba4a4;
			}

			.featured {
				background-color: #2c3a3a;
			}
		}

		&--detail {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.filterBtn {
	padding: 0.8rem 1rem;
	color: #5ba4a4;
	background-color: #eef6f6;
	font-size: 1.3rem;
	font-weight: 700;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.3s;

	&:not(:last-child) {
		margin-right: 2rem;
	}

	&:hover {
		color: #fff;
		background-color: #5ba4a4;
	}
}

.content {
	&__header {
		display: flex;
		align-items: center;

		.company {
			font-size: 1.6rem;
			font-weight: 700;
			color: #5ba4a4;
		}
	}

	&__position {
		display: flex;
		align-items: center;

		h1 {
			color: #2c3a3a;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: #5ba4a4;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;

		&--item {
			font-size: 1.5rem;
			color: #999;

			&-border {
				&::before {
					display: block;
					content: "\2022";
					color: #999;
					padding: 0 2rem;
				}
			}
		}
	}
}
