.navbar {
	position: relative;
	height: 15vh;
	width: 100%;
	background: url(../assets/bg-header-desktop.svg), #5ba4a4;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-section {
	position: relative;
	width: 100%;
	min-height: 85vh;
	background-color: #effafa;
}

.joblist__preview {
	max-width: 120rem;
	margin: 0 auto;
}
