:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 70.3%; /* 18px */
}

body {
	font-family: "Kumbh Sans", sans-serif;
	background-color: var(--dark-cyan);
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/bg-pattern-top.svg) left top 50%, url(../images/bg-pattern-bottom.svg) right bottom 50%;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;
	background-color: #fff;
	height: 50vh;
	width: 35rem;
	border-radius: 1rem;

	display: grid;
	grid-template-rows: 1.5fr 1.5fr 1fr;
}

.card > * {
	border: 1px solid var(--dark-cyan);
}
