:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--dark-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 70.3%; /* 18px */
}

body {
	font-family: "Kumbh Sans", sans-serif;
	background-color: var(--dark-cyan);
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/bg-pattern-top.svg) left -10% top -30vh, url(../images/bg-pattern-bottom.svg) right -15% bottom -30vh;
	background-repeat: no-repeat;
	background-size: 50%, 50%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;
	background-color: #fff;
	height: 50vh;
	width: 35rem;
	border-radius: 1rem;

	display: grid;
	grid-template-rows: 1.5fr 1.5fr 1fr;
	overflow: hidden;
}

.card__coloredBgSection {
	position: relative;
	background: url(../images/bg-pattern-card.svg);
}

.card__coloredBgSection img {
	position: absolute;
	bottom: -50%;
	left: 50%;
	transform: translate(-50%, -40%);
	border-radius: 50%;
	border: 0.5rem solid #fff;
}

.card__profileSection {
	display: grid;
	align-content: center;
	justify-items: center;
	grid-row-gap: 1rem;
}

.card__reviewSection {
	display: flex;
	justify-content: space-around;
	align-items: center;

	border-top: 1px solid #ccc;
}

.card__review {
	display: grid;
	justify-items: center;
	grid-row-gap: 1rem;
}

/* TYPOGRAPHY */
.text__primary {
	font-size: 1.7rem;
	font-weight: 700;
}

p {
	display: inline-block;
	font-size: 1.7rem;
	color: var(--dark-gray);
	font-weight: 400;
}

.text__secondary {
	font-size: 1rem;
	color: var(--dark-gray);
	letter-spacing: 0.12rem;
}
