// primary
$bright-blue: rgb(58, 123, 253);
$cyan-gradient: rgb(87, 221, 255);
$pink-gradient: rgb(192, 88, 243);

// light theme
$lightThemed-very-light-gray: rgb(250, 250, 250);
$lightThemed-very-light-grayish-blue: rgb(228, 229, 241);
$lightThemed-light-grayish-blue: rgb(210, 211, 219);
$lightThemed-dark-grayish-blue: rgb(147, 148, 165);
$lightThemed-very-dark-grayish-blue: rgb(72, 75, 106);

// dark theme
$darkThemed-very-dark-blue: rgb(22, 23, 34);
$darkThemed-very-dark-desaturated-blue: rgb(37, 39, 60);
$darkThemed-light-grayish-blue: rgb(202, 205, 232);
$darkThemed-light-grayish-blue-hover: rgb(228, 229, 241);
$darkThemed-dark-grayish-blue: rgb(119, 122, 146);
$darkThemed-very-dark-grayish-blue-1: rgb(77, 80, 102);
$darkThemed-very-dark-grayish-blue-2: rgb(57, 58, 76);
