*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

.heading__primary {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  line-height: 1.4;
  color: #070439; }

.paragraph {
  font-size: 1.4rem;
  width: 80%;
  color: #070439; }

.btn:link, .btn:visited {
  color: #3c9f8f;
  font-size: 1.3rem;
  padding: 0.5rem 0;
  text-decoration: none;
  border-bottom: 1px solid #3c9f8f; }

.navigation {
  position: absolute;
  top: 0;
  height: 10rem;
  width: 100%;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 37.5em) {
    .navigation {
      padding: 0 2rem; } }
  .navigation__logo {
    height: 100%;
    width: 15rem;
    display: grid;
    align-content: center; }
    @media (max-width: 37.5em) {
      .navigation__logo {
        width: 10rem; } }
    .navigation__logo--img {
      width: 80%; }
  .navigation__nav {
    list-style: none;
    display: flex; }
  .navigation__item {
    font-family: "Raleway", sans-serif;
    font-size: 1.3rem; }
    .navigation__item:not(:last-child) {
      margin-right: 3rem; }
      @media (max-width: 37.5em) {
        .navigation__item:not(:last-child) {
          margin-right: 1.5rem; } }
    .navigation__item--link:link, .navigation__item--link:visited {
      color: #070439;
      text-decoration: none; }

.header {
  position: relative;
  min-height: 70rem;
  width: 100%;
  padding: 0 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 37.5em) {
    .header {
      padding: 5rem 2rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr; } }
  .header__content {
    width: 100%;
    padding-right: 3rem;
    display: grid;
    grid-row-gap: 1.5rem;
    align-content: center; }
  .header__illustration {
    width: 100%;
    display: grid;
    align-content: center; }
    .header__illustration--image {
      width: 100%; }
    @media (max-width: 37.5em) {
      .header__illustration {
        grid-row: 1 / 2; } }

.form {
  margin: 1rem 0; }
  .form > * {
    padding: 1rem 2rem;
    height: 4rem; }
  .form__input {
    width: 30rem;
    outline: none;
    margin-right: 2rem;
    border: 1px solid #070439; }
  .form__btn {
    width: 15rem;
    background-color: #3065f8;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #3065f8; }

.story {
  position: relative;
  width: 100%;
  background-color: #f6f6fe;
  padding: 10rem 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 37.5em) {
    .story {
      padding: 0 2rem;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr; } }
  .story::before {
    display: block;
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    background-image: url(../images/bg-curve-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .story__content {
    width: 100%;
    padding-right: 3rem;
    display: grid;
    grid-row-gap: 1.5rem;
    align-content: center;
    justify-items: start; }
  .story__review {
    width: 30rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.2); }
  .story__profile {
    display: flex;
    width: 100%; }
    .story__profile--img {
      width: 30%; }
  .story__illustration {
    width: 100%;
    display: grid;
    align-content: center; }
    .story__illustration--image {
      width: 100%; }
    @media (max-width: 37.5em) {
      .story__illustration {
        grid-row: 1 / 2; } }

.cta {
  position: relative;
  height: 40rem;
  width: 100%;
  background-color: #585989; }

.footer {
  position: relative;
  height: 50rem;
  width: 100%;
  background-color: #070439; }
