// Navigation
.navigation {
	position: absolute;
	top: 0;
	height: 10rem;
	width: 100%;
	padding: 0 7rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include respond(phone) {
		padding: 0 2rem;
	}

	&__logo {
		height: 100%;
		width: 15rem;

		display: grid;
		align-content: center;

		@include respond(phone) {
			width: 10rem;
		}

		&--img {
			width: 80%;
		}
	}

	&__nav {
		list-style: none;
		display: flex;
	}

	&__item {
		font-family: $font-heading;
		font-size: 1.3rem;

		&:not(:last-child) {
			margin-right: 3rem;

			@include respond(phone) {
				margin-right: 1.5rem;
			}
		}

		&--link {
			&:link,
			&:visited {
				color: $color-dark-blue;
				text-decoration: none;
			}
		}
	}
}

// header
.header {
	position: relative;
	min-height: 70rem;
	width: 100%;
	padding: 0 7rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include respond(phone) {
		padding: 5rem 2rem;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr;
	}

	&__content {
		width: 100%;
		padding-right: 3rem;

		display: grid;
		grid-row-gap: 1.5rem;
		align-content: center;
	}

	&__illustration {
		width: 100%;

		display: grid;
		align-content: center;

		&--image {
			width: 100%;
		}

		@include respond(phone) {
			grid-row: 1 / 2;
		}
	}
}

.form {
	margin: 1rem 0;

	& > * {
		padding: 1rem 2rem;
		height: 4rem;
	}
	&__input {
		width: 30rem;
		outline: none;
		margin-right: 2rem;
		border: 1px solid $color-dark-blue;
	}

	&__btn {
		width: 15rem;
		background-color: $color-bright-blue;
		color: #fff;
		border-radius: 3px;
		border: 1px solid $color-bright-blue;
	}
}

.story {
	position: relative;
	width: 100%;
	background-color: $color-greyish-blue;
	padding: 15rem 7rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include respond(phone) {
		padding: 0 2rem;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr;
	}

	&::before {
		display: block;
		content: "";
		position: absolute;
		background-color: #fff;
		top: 0;
		left: 0;
		height: 10rem;
		width: 100%;
		background-image: url(../images/bg-curve-desktop.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__content {
		width: 100%;
		padding-right: 3rem;

		display: grid;
		grid-row-gap: 1.5rem;
		align-content: center;
		justify-items: start;
	}

	&__review {
		width: 30rem;
		background-color: #fff;
		padding: 2rem;
		margin-top: 2rem;
		border-radius: 4px;
		box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.2);
		display: grid;
		grid-row-gap: 0.5rem;

		&--paragraph {
			font-size: 1.1rem;
		}
	}

	&__profile {
		display: flex;
		width: 100%;
		margin-top: 1rem;

		&--img {
			width: 3rem;
			border-radius: 50%;
			margin-right: 1rem;
		}

		&--avatar {
			display: grid;
		}

		&--name {
			font-size: 1rem;
			font-weight: 700;
		}

		&--text {
			font-size: 0.8rem;
		}
	}

	&__illustration {
		width: 100%;

		display: grid;
		align-content: center;

		&--image {
			width: 100%;
		}

		@include respond(phone) {
			grid-row: 1 / 2;
		}
	}
}

.cta {
	position: relative;
	padding: 10rem 7rem;
	width: 100%;
	background-color: $color-desaturated-blue;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer {
	position: relative;
	height: 50rem;
	width: 100%;
	background-color: $color-dark-blue;
}
