// Navigation
.navigation {
	position: absolute;
	top: 0;
	height: 10rem;
	width: 100%;
	padding: 0 7rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include respond(phone) {
		padding: 0 2rem;
	}

	&__logo {
		height: 100%;
		width: 15rem;

		display: grid;
		align-content: center;

		@include respond(phone) {
			width: 10rem;
		}

		&--img {
			width: 80%;
		}
	}

	&__nav {
		list-style: none;
		display: flex;
	}

	&__item {
		font-family: $font-heading;
		font-size: 1.3rem;

		&:not(:last-child) {
			margin-right: 3rem;

			@include respond(phone) {
				margin-right: 1.5rem;
			}
		}

		&--link {
			&:link,
			&:visited {
				color: $color-dark-blue;
				text-decoration: none;
			}
		}
	}
}

// header
.header {
	position: relative;
	height: 70rem;
	width: 100%;
	padding: 0 7rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&__content {
		width: 100%;
		padding-right: 7vw;

		display: grid;
		grid-row-gap: 1rem;
		align-content: center;
	}

	&__illustration {
		width: 100%;

		display: grid;
		align-content: center;

		&--img {
			width: 100%;
		}
	}
}

.form {
	margin: 1rem 0;

	& > * {
		padding: 1rem 2rem;
		height: 4rem;
	}
	&__input {
		width: 30rem;
		outline: none;
		margin-right: 2rem;
		border: 1px solid $color-dark-blue;
	}

	&__btn {
		width: 15rem;
		background-color: $color-bright-blue;
		color: #fff;
		border-radius: 3px;
		border: 1px solid $color-bright-blue;
	}
}
