*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  position: relative;
  width: 100%;
  padding: 0 8rem; }

.btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  border: 1px solid #ff52bf;
  border-radius: 10rem;
  text-decoration: none; }

.btn-outline {
  background-color: #fff;
  padding: 1rem 4rem;
  color: #ff52bf; }

.btn-pink {
  background-color: #ff52bf;
  color: #fff;
  padding: 1.5rem 6rem;
  font-weight: 600; }

.heading-secondary {
  color: #00252e;
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem; }

.heading-tertiary {
  color: #00252e;
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2rem; }

.paragraph {
  color: #000;
  font-size: 1.6rem;
  width: 50rem;
  text-align: center;
  margin-bottom: 3rem; }

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15rem; }

.header {
  position: relative;
  width: 100%;
  padding: 6rem 0; }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem; }
  .header__thumbnail {
    width: 100%;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__thumbnail--img {
      width: 80%; }
  .header__feature {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 6rem 0; }
    .header__feature-detail span {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 7rem;
      color: #00252e; }
    .header__feature-text {
      font-size: 1.7rem;
      color: grey; }
    .header__feature-item-1 {
      grid-column: 2 / span 2; }
    .header__feature-item-2 {
      grid-column: 5 / span 2; }
    .header__feature-item-3 {
      grid-column: 2 / span 2; }
    .header__feature-item-4 {
      grid-column: 5 / span 2; }

.section-main {
  position: relative;
  padding: 6rem 0; }

.story {
  position: relative;
  width: 100%;
  padding: 10rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .story__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .story__content p {
      color: #000;
      font-size: 1.6rem;
      width: 80%; }
    .story__content-pl {
      padding-left: 8rem; }
  .story__thumbnail {
    width: 100%; }
    .story__thumbnail-img {
      display: block;
      width: 100%; }

.curved-colored {
  background: #f5faff; }

.cta {
  position: relative;
  padding: 10rem 0;
  display: grid;
  align-content: center;
  justify-items: center; }
