:root {
	--strong-cyan: #26baa4;
	--light-blue: #6173ff;
	--dark-grayish-blue: #4c545d;
	--grayish-blue: #9fabb2;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 112.5% /* 18px */;
}

body {
	font-family: "Bai Jamjuree", sans-serif;
	line-height: 1.7rem;
}

/* ***** TYPOGAPHY ***** */
.h1 {
	font-size: 2.3rem;
}

.h2 {
	font-size: 1.8rem;
}

.h3 {
	font-size: 1.2rem;
	text-align: start;
}

.h1,
.h2,
.h3 {
	color: var(--dark-grayish-blue);
}

.p1 {
	font-size: 1rem;
}

.p2 {
	font-size: 0.9rem;
}

.p3 {
	font-size: 0.8rem;
	color: var(--grayish-blue);
	width: 60%;
}

.p1,
.p2 {
	color: var(--grayish-blue);
	text-align: center;
	width: 50vw;
}

.btn:link,
.btn:visited {
	color: #fff;
	text-decoration: none;
	border-radius: 10rem;
	padding: 0.5rem 2rem;
	font-size: 0.9rem;
	transition: all 0.3s ease-in;
}

.btn:active,
.btn:hover {
	cursor: pointer;
}

.btn--green {
	background-color: var(--strong-cyan);
	box-shadow: inset 0px -0.1rem 3px 0rem #0000004d;
}

.btn--blue {
	background-color: var(--light-blue);
	box-shadow: inset 0px -0.1rem 3px 0rem #0000004d;
}

.header {
	position: relative;
	min-height: 30rem;
	background: url(../images/bg-header-desktop.png) no-repeat;
	background-size: contain;
	padding: 7rem 0;
}

.header__logo {
	display: flex;
	margin-bottom: 3rem;
	justify-content: center;
}

.cta__content {
	display: grid;
	justify-items: center;
	grid-row-gap: 1.5rem;
}

.cta__btn {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2rem;
	margin-top: 1rem;
}

.main {
	position: relative;
	display: grid;
	grid-row-gap: 5rem;
}

.intro {
	display: grid;
	grid-row-gap: 1.5rem;
	justify-items: center;
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.features__img {
	position: relative;
	display: inline-block;
}

.features__img img {
	width: 55vw;
	transform: translateX(-5vw);
}

.features__content {
	display: grid;
	grid-row-gap: 1.5rem;
	justify-items: start;
	align-content: center;
}

.features__content .content {
	display: grid;
	grid-row-gap: 0.5rem;
}

.story {
	display: grid;
	grid-row-gap: 2rem;
	justify-items: center;
}

.testimonial__content {
	display: grid;
	padding: 4rem 7rem;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2rem;
}

.testimonial__content .content {
	display: grid;
	grid-template-rows: 3rem 2rem auto;
	grid-row-gap: 0.5rem;
	justify-items: center;
}

.testimonial__content .content .p3 {
	width: 100% !important;
	text-align: center;
}

.content__img {
	display: inline-block;
}

.testimonial__company {
	display: grid;
	padding: 2rem 5rem;
	grid-column-gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}

.testimonial__logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	margin-top: 7rem;
	padding: 2rem 5rem;
	background-color: #ececec;

	display: grid;
	grid-template-columns: 1.5fr 4fr 1.5fr;
}

.footer__logo {
	display: flex;
	align-items: center;
	height: 5rem;
}

.footer__logo img {
	object-fit: contain;
	height: 70%;
}

.footer__navigation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;

	list-style: none;
}

.footer__link {
	text-decoration: none;
	color: #4c545c;
	transition: color 0.3s ease-in;
}

.footer__link:hover,
.footer__link:active {
	color: var(--strong-cyan);
}

.footer__socials {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer__socials .footer__link {
	margin-left: 1rem;
}

.footer__icon {
	display: grid;
	height: 1.7rem;
	width: 1.7rem;
	fill: #4c545c;
	transition: fill 0.1s ease-in;
}

.footer__icon:hover,
.footer__icon:active {
	fill: var(--strong-cyan);
}
