$color-pink: #ff52bf;
$color-dark-cyan: #00252e;
$color-pale-cyan: #f5faff;

$font-heading: "Poppins", sans-serif;

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			//600px / 16px
			@content;
		}
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@include respond(phone) {
		font-size: 50%;
	}
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.6;

	@include respond(phone) {
		line-height: 1.4;
	}
}

.container {
	position: relative;
	width: 100%;
	padding: 0 8rem;

	@include respond(phone) {
		padding: 0 2rem;
	}
}

// btn
.btn {
	&:link,
	&:visited {
		display: inline-block;
		font-size: 1.4rem;
		border: 1px solid $color-pink;
		border-radius: 10rem;
		text-decoration: none;
	}

	&-outline {
		background-color: #fff;
		padding: 1rem 4rem;
		color: $color-pink;

		@include respond(phone) {
			padding: 1rem 3rem;
		}
	}

	&-pink {
		background-color: $color-pink;
		color: #fff;
		padding: 1.5rem 6rem;
		font-weight: 600;
	}
}

.heading-secondary {
	color: $color-dark-cyan;
	font-size: 5rem;
	font-family: $font-heading;
	margin-bottom: 2rem;
	text-align: center;

	@include respond(phone) {
		font-size: 3rem;
		font-weight: 700;
	}
}

.heading-tertiary {
	color: $color-dark-cyan;
	font-size: 3.5rem;
	font-family: $font-heading;
	margin-bottom: 2rem;

	@include respond(phone) {
		text-align: center;
	}
}

.paragraph {
	color: #000;
	font-size: 1.6rem;
	width: 50rem;
	text-align: center;
	margin-bottom: 3rem;

	@include respond(phone) {
		width: 100%;
	}
}
