$color-pink: #ff52bf;
$color-dark-cyan: #00252e;
$color-pale-cyan: #f5faff;

$font-heading: "Poppins", sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	// background-color: $color-pale-cyan;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0 8rem;
}

// btn
.btn {
	&:link,
	&:visited {
		display: inline-block;
		font-size: 1.4rem;
		border: 1px solid $color-pink;
		border-radius: 10rem;
		text-decoration: none;
	}

	&-outline {
		background-color: #fff;
		padding: 1rem 4rem;
		color: $color-pink;
	}

	&-pink {
		background-color: $color-pink;
		color: #fff;
		padding: 1.5rem 6rem;
		font-weight: 600;
	}
}

.heading-secondary {
	color: $color-dark-cyan;
	font-size: 5rem;
	font-family: $font-heading;
	margin-bottom: 2rem;
}

.paragraph {
	color: #000;
	font-size: 1.6rem;
	width: 70vh;
	text-align: center;
	margin-bottom: 3rem;
}
