.navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 15rem;
}

.header {
	position: relative;
	width: 100%;
	padding: 10rem 0;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 3rem;
	}

	&__thumbnail {
		width: 100%;
		margin: 6rem 0;

		display: flex;
		justify-content: center;
		align-items: center;

		&--img {
			width: 80%;
		}
	}

	&__feature {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		margin: 6rem 0;

		&-detail span {
			font-family: "Open Sans", sans-serif;
			font-weight: 700;
			font-size: 7rem;
			color: $color-dark-cyan;
		}

		&-text {
			font-size: 1.7rem;
			color: grey;
		}

		&-item-1 {
			grid-column: 2 / span 2;
		}

		&-item-2 {
			grid-column: 5 / span 2;
		}

		&-item-3 {
			grid-column: 2 / span 2;
		}

		&-item-4 {
			grid-column: 5 / span 2;
		}
	}
}

.section-main {
	position: relative;
	padding: 6rem 0;
}

.story {
	position: relative;
	width: 100%;
	padding: 15rem 8rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		p {
			color: #000;
			font-size: 1.6rem;
			width: 80%;
		}

		&-pl {
			padding-left: 8rem;
		}
	}

	&__thumbnail {
		width: 100%;

		&-img {
			display: block;
			width: 100%;
		}
	}
}

.curved__colored {
	background: $color-pale-cyan;

	&::before {
		display: block;
		content: "";
		background-color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		height: 18rem;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&::after {
		display: block;
		content: "";
		background-color: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 18rem;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&--1 {
		&::before {
			background-image: url(../images/bg-section-top-desktop-1.svg);
		}

		&::after {
			background-image: url(../images/bg-section-bottom-desktop-1.svg);
		}
	}

	&--2 {
		&::before {
			background-image: url(../images/bg-section-top-desktop-2.svg);
		}

		&::after {
			background-image: url(../images/bg-section-bottom-desktop-2.svg);
		}
	}
}

.cta {
	position: relative;
	padding: 10rem 0;

	display: grid;
	align-content: center;
	justify-items: center;
}

.footer {
	position: relative;
	padding: 20rem 8rem;
	padding-bottom: 10rem;

	background: $color-dark-cyan;

	&::before {
		display: block;
		content: "";
		position: absolute;
		background-color: #fff;
		top: 0;
		left: 0;

		width: 100%;
		height: 18rem;
		background-image: url(../images/bg-footer-top-desktop.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.footer {
	position: relative;

	&__container {
		padding: 5rem 0;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 3rem;
		grid-column-gap: 5rem;
	}

	&__logo {
		display: block;

		&--img {
			filter: grayscale(1) brightness(0) invert(1);
		}
	}

	&__heading {
		font-size: 2rem;
		text-transform: uppercase;
		color: #fff;
		align-self: center;
	}

	&__paragraph {
		color: $color-pale-cyan;
		font-size: 1.3rem;
		width: 50vh;
	}

	&__details {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-gap: 2rem;

		&--icon {
			width: 2rem;
		}

		&--paragraph {
			color: $color-pale-cyan;
			font-size: 1.3rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		height: 7rem;

		&--item {
			&:link,
			&:visited {
				font-size: 3rem;
				color: $color-pale-cyan;
				margin-right: 2rem;
			}
		}
	}
}

.form {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 2rem;
	align-content: center;

	& > * {
		border: none;
		border-radius: 4px;
		height: 4rem;
	}

	&__input {
		display: inline-block;
		padding: 1rem 2rem;
	}

	&__btn {
		color: #fff;
		background-color: $color-pink;
	}
}
